body {
    margin: 0px;
    padding: 0px;
    background: url("https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=600")no-repeat center center/cover;
    position:relative;
    height:104vh;
    width:100vw;
}
.left{
    position: fixed;
    left: 12px;
}
.left img { 
    width: 70px;
    height: 40px;
}

.mid {
    display: inline-block;
    left:107px;
    top:26px;
    width: 254px;
    margin: auto;
    position:fixed;
}

.navbar li a {
    font-size: 11.5px;
    margin: 0px 15px;
}

.right{
    position: absolute;
    top: -86px;
    right: 13px;
    width:108px;
}
.right #btn-primary1{
    font-size: 11.5px;
    margin: 2px -2px;
    padding: 10px 5px;
} 
body .container {  
    margin: 114px 23px;
    padding: 74px 35px;
    position: relative;
    top: 25px;
}
.container p{
    font-size: 14.5px;
    padding: 30px 0px;
}
#carouselExampleCaptions{
    width: 302px;
}
#carouselExampleCaptions {
    width: 261px;
    margin: 0px 244px;
    position: relative;
    bottom: 85px;
    right: 173px;
    opacity: 0.74;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 324px;
    overflow: hidden;
}