body {
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url("https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
}
/* 1. Header CSS */

/* 1.1 header left CSS */
.left {
    display: inline-block;
    position: fixed;
    left: 44px;
    top: 26px;
    width: 144px;
    cursor: pointer;
}

.left img { 
    width: 151px;
    height: 115px
}

/* 1.2 header mid CSS */
.mid {
    display: inline-block;
    left:500px;
    top:26px;
    width: 589px;
    margin: auto;
    position:fixed;
}
.navbar {
    display: inline-block;
}
.navbar li {
    display: inline-block;
}
.navbar li a {
    font-size: 20px;
    color: white;
    margin: 0px 39px;
    text-decoration: none;
}
.navbar li a:hover,
.navbar li a.active {
    color: rgb(238, 190, 68);
    text-shadow: 2px 2px 4px #000000;
}
    
/* 1.3 header right CSS */
.right {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 26px;
    width: 268px;
}

.right #btn-primary1{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    margin: 2px 18px;
    background-color:transparent;
    border-radius: 22px;
    cursor: pointer;
    border-color:transparent;

} 

.right #btn-primary1:hover {
    background-color:black;
    border-color:transparent;
}

/* fixing position of radio button in book class button */
#radio1{
    position: relative;
    top: 10px;
    left: 43px;
}
#radio1 h6, #radio2 h6{
    font-weight: 400;
}
#radio2{
    position:relative;
    top:36px;
}

/* header finished here */

body .container{
    color: #c7aeae;
    text-align: end;
    font-size: 42px;
    margin: 114px 36px;
    padding: 74px 35px;
    width: 43%;
}
.container:hover{
    filter:brightness(85%);
}
.container p{
    padding: 30px 51px;
}
#carouselExampleCaptions{
    width: 405px;
    margin: 20px 230px;
    position: relative;
    bottom: 74px;
    opacity: 0.74;
}
.carousel-inner img{
    background-color: transparent;
    height:430px;
}

.carousel-item .carousel-caption{
    
    position:absolute;
    bottom:-100%;
    left:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    font-weight: 1000;
    padding: 20px;
    transition: bottom 0.3s ease;
}
.carousel-item:hover .carousel-caption{
    bottom: 0; 
  }
